div.alignform {
  float: left;
  margin-right: 10px;
}
/*
Andrew Note: Transforming vertical tabs into horizontal tabs. Use by calling vtcore.
*/
.hrz-tabs div.vertical-tabs .vertical-tabs-list {
  width: 100%;
  margin: 0;
  clear: both;
  border-bottom: none;
  margin-bottom: -1px;
  border-top: none;
}
.hrz-tabs div.vertical-tabs {
  background: #FFFFFF;
  border: none;
  border-radius: none;
  -moz-border-radius: none;
  -webkit-border-radius: none;
  -o-border-radius: none;
  margin: 10px 0;
  position: relative;
}
.hrz-tabs div.vertical-tabs .vertical-tabs-panes {
  margin: 0;
  padding: 10px 15px;
  clear: both;
  border: 1px solid #ccc;
}
.hrz-tabs div.vertical-tabs ul li.vertical-tab-button {
  float: left;
  margin: 0 3px 0 0;
  border: 1px solid #aaa;
  border-bottom: 1px solid #ccc;
  border-radius: 10px 10px 0 0;
  -moz-border-radius: 10px 10px 0 0;
  -o-border-radius: 10px 10px 0 0;
  -webkit-border-radius: 10px 10px 0 0;
  background: #ddd;
}
.hrz-tabs div.vertical-tabs ul li.vertical-tab-button a {
  border-top: medium none;
  font-size: 0.917em;
  line-height: 120%;
  padding: 5px 9px 3px;
}
.hrz-tabs div.vertical-tabs ul li.vertical-tab-button a:hover {
  background: none;
}
.hrz-tabs div.vertical-tabs ul li.selected {
  border: 1px solid #ccc;
  border-bottom: 1px solid #fff;
  background: #fff;
}
.hrz-tabs div.vertical-tabs ul li.selected a,
.hrz-tabs div.vertical-tabs ul li.selected a:hover,
.hrz-tabs div.vertical-tabs ul li.selected a:focus,
.hrz-tabs div.vertical-tabs ul li.selected a:active {
  background: none;
  border: none;
  text-decoration: none;
}

#edit-section2 .form-type-item,
#edit-section2 .form-type-radios,
#edit-section2 .form-type-textfield {
    margin-bottom: 25px;
}